body {
  font-family: 'Saira Condensed', sans-serif;
  margin: 0;
  padding: 0;
  font-size: 1em;
  line-height: 1.5em;
  color: #333;
  background-image: url('./assets/bg_v4.jpg');
  background-repeat: repeat;
}

.title {
  /* font-weight: bold; */
  font-size: 3.5em;
  font-family: 'Pacifico', cursive;
  color: #FF00FF;
  margin-bottom: 3%;
}

a, a:visited {
  color: #666;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: purple;
}

#left {
  float: left;
  width: 40%;
  margin-left: 5%;
  text-align: left;
}

#right {
  float: right;
  width: 40%;
  margin-right: 5%;
  text-align: left;
  /* background: #f4f4f4; */
}

#searchUTube {
  margin-top: 25px;
}

.inputDiv {
  display: block;
  margin-bottom: 15px;
}

.block {
  margin-top: 10px;
}

.inputDiv input {
  width: 97%;
}

#results {
  margin-top: 25px;
  border-top-width: thick;
  border-top-color: #f4f4f4;
}

.thumb {
  max-width: 30%;
  float: left;
}

.titleContainer {
  max-width: 50%;
  float: left;
  margin-left: 2%;
  margin-right: 7%;
}

.buttonContainer {
  max-width: 10%;
  float: left;
}

.divider {
  clear: both;
}

.individualResult {
  margin-bottom: 8%;
  line-height: 1.25em;
}

.personDiv {
  margin-bottom: 5%;
}

.personName {
  font-size: 2em;
  margin-right: 2%;
}

#searchUTube {
  width: 50%;
}

.asterisk {
  color: red;
}

#actionContainer {
  width: 98%;
  margin-left: 1%;
  margin-right: 1%;
}

#upNextList {
  width: 23%;
  height: 390px;
  max-height: 390px;
  float: right;
  position: relative;
  /* background: #f4f4f4; */
  overflow: auto;
}

#player {
  /* 640/390 = 1.64 OR .6 */
  width: 76%;
  height: 390px;
  float: left;
  position: relative;
}

#currentPerformer {
  text-align: left;
  margin-bottom: 10%;
  padding-bottom: 5%;
  padding-top: 10%;
  border-bottom: #FF00FF;
  border-bottom-width: 2px;
  border-bottom-style: dotted;
  border-top: #FF00FF;
  border-top-width: 2px;
  border-top-style: dotted;
}

.performerDiv {
  text-align: left;
  margin-bottom: 10%;
  font-size: .9em;
  line-height: 1.5em;
}

.performerFuncContainer {
  float: left;
  width: 9%;
  min-height: 40px;
}

.inlineFloatR {
  float: right;
  width: 85%;
}

.performerFuncContainer button {
  /* padding: 2px; */
}

@media only all 
and (min-device-width : 100px) 
and (max-device-width : 520px) {
    #left, #right {
      float: none;
      width: 88%;
      margin-left: 5%;
      margin-right: 5%;
    }
    #left {
      padding-left: 1%;
      padding-right: 1%;
      height: 100px;
      overflow: scroll;
      background: #f4f4f4;
    }
}

@media only all 
and (min-device-width : 521px) {
    /* Styles */
}