body {
  font-family: 'Saira Condensed', sans-serif;
  margin: 0;
  padding: 0;
  font-size: 1em;
  line-height: 1.5em;
}

.title {
  font-weight: bold;
  font-size: 3.5em;
}

#left {
  float: left;
  width: 40%;
  margin-left: 5%;
  text-align: left;
}

#right {
  float: right;
  width: 40%;
  margin-right: 5%;
  text-align: left;
  /* background: #f4f4f4; */
}

#searchUTube {
  margin-top: 25px;
}

.inputDiv {
  display: block;
  margin-bottom: 15px;
}

.block {
  margin-top: 10px;
}

.inputDiv input {
  width: 97%;
}

#results {
  margin-top: 25px;
  border-top-width: thick;
  border-top-color: #f4f4f4;
}

.thumb {
  max-width: 30%;
  float: left;
}

.titleContainer {
  max-width: 50%;
  float: left;
  margin-left: 2%;
  margin-right: 7%;
}

.buttonContainer {
  max-width: 10%;
  float: left;
}

.divider {
  clear: both;
}

.individualResult {
  margin-bottom: 8%;
  line-height: 1.25em;
}

.personDiv {
  margin-bottom: 5%;
}

.personName {
  font-size: 2em;
  margin-right: 2%;
}

#searchUTube {
  width: 50%;
}